.quick-info-punctuation {
  color: #ccc;
}

.quick-info-functionName {
  color: indigo;
}

.quick-info-keyword {
  color: blue;
}

.quick-info-parameterName {
  color: green;
}

.cm-twoslash {
  color: gray;
  background-color: #eee;
  padding: 0 0.25em;
}
