name: Test

on: push

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: tsc
        run: npm run tsc

      - name: test
        run: npm run test:ci
